.header {
    position: sticky; /*※IEではバグるらしい */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%; /* ヘッダーの幅を100%に設定 */
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}